@font-face {
  font-family: 'Google Sans';
  src: URL('Google.ttf') format('truetype');
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

html {
    background: url("background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 500px;
    width: 450px;
    margin: auto;
    vertical-align: middle;
    background-color: white;
    opacity: 1;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(25, 4%);
}

.header1 {
    font-family: 'Google Sans', arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    direction: ltr;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 7;
    text-align: left;
    padding-top: 8px;
    padding-left: 16px;
}

.header2 {
    font-family: 'roboto', arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: left;
    padding-top: 2px;
    padding-left: 17px;
    letter-spacing: .2px;
}

.logo {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    padding-left: 16px;
    padding-right: 22px;
    padding-top: 7px;
    padding-bottom: 0px;
    pointer-events: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.email {
    grid-column-start: 2;
    grid-column-end: 19;
    grid-row-start: 10;
    grid-row-end: 14;
    padding-left: 15px;
    padding-top: 4px;
}

.forgot {
    font-family: 'roboto', arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end: 15;
    text-align: left;
    padding-left: 18px;
    padding-top: 8px;
    transform: scaleY(1.1);
}

a {
    text-decoration: none;
    color: #4285f4;
}

.guest-mode {
    font-family: 'roboto', arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    grid-column-start: 2;
    grid-column-end: 17;
    grid-row-start: 17;
    grid-row-end: 19;
    text-align: left;
    color: #757575;
    padding-top: 11px;
    padding-left: 14px;
    direction: ltr;
    white-space: normal;
    transform: scaleX(.985);
}

.learn-more {
    font-family: 'roboto', arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    grid-column-start: 16;
    grid-column-end: 19;
    grid-row-start: 17;
    grid-row-end: 19;
    text-align: left;
    padding-left: 3px;
    padding-top: 11px;
}

.create-account {
    font-family: 'roboto', arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start:20;
    grid-row-end: 21;
    text-align: left;
    padding-left: 18px;
    padding-top: 12px;
}

.next {
    grid-column-start: 15;
    grid-column-end: 19;
    grid-row-start:20;
    grid-row-end: 22;
    cursor: pointer;
}